@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Grandstander:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat', serif;
}

body {
    color: #fff;
}

.main {
    min-height: 100vh;
    background-image: url(../assets/images/Christmas_meal_main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main.active {
    filter: blur(13px);
    pointer-events: none;
}

.game-area {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-content {
    max-width: 900px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.game-content h1 {
    font-size: 130px;
    font-weight: 500;
}

.game-content p {
    font-size: 40px;
    text-align: center;
    margin-bottom: 45px;
}

/* Button styling */

.game-content .start-button {
    display: inline-block;
    width: 23%;
    padding: 10px;
    background: #08415C;
    border: 4px;
    border-radius: 10px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.rules-display .rules-buttons,
.question-display .question-buttons,
.results-display .finished-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.rules-display .rules-buttons .quit-button,
.question-display .question-buttons .question-quit-button,
.results-display .finished-buttons .exit-button,
.rules-display .rules-buttons .continue-button,
.question-display .question-buttons .next-button,
.results-display .finished-buttons .try-again-button {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    width: 25%;
    padding: 10px;
    background: #08415C;
    border: 4px;
    border-radius: 10px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}


/* Button styling for hover */
.game-content .start-button:hover,
.rules-display .rules-buttons .quit-button:hover,
.rules-display .rules-buttons .continue-button:hover,
.question-display .question-buttons .question-quit-button:hover,
.question-display .question-buttons .next-button:hover,
.results-display .finished-buttons .exit-button:hover,
.results-display .finished-buttons .try-again-button:hover {
    background: #6B818C;
    color: #000;
}

/* Display styling */

.rules-display,
.question-display,
.results-display {
    position: absolute;
    top: 15%;
    left: 30%;
    border-radius: 10px;
    width: 1000px;
    background: #CC2936;
    padding: 10px 25px;
    opacity: 0;
    pointer-events: none;
}

/* Display heading styling */

.rules-display h2,
.question-display h3,
.results-display h3 {
    font-size: 70px;
    text-align: center;
}

/* Display heading styling (active) */
.rules-display.active,
.question-display.active,
.results-display.active {
    opacity: 1;
    pointer-events: auto;
}

.rules-display .rules {
    display: inline-block;
    align-items: center;
    font-size: 45px;
    margin-bottom: 35px;
}

.question-display .question-area .question {
    display: inline-block;
    align-items: center;
    font-size: 45px;
    margin-bottom: 35px;
    font-weight: 200;
}

.question-display .multiple-choice-area {
    display: flex;
    align-items: center;
    font-size: 45px;
    margin: 35px;
}

.question-display .multiple-choice-area .answer-option {
    display: block;
    align-items: center;
    font-size: 35px;
    margin: auto;
    padding: 20px;
    border: 4px;
    border-radius: 10px;
    cursor: pointer;
}

.question-display .question-area .food-pic {
    display: block;
    height: 27vh;
    margin: auto;
}

.question-display .player-score h3 {
    align-items: center;
    font-size: 45px;
    margin-bottom: 35px;
    font-weight: 200;
}

.results-display .final-user-score-message {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    margin-top: 50px;
    font-weight: 200;
}

.results-display .final-user-score {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    margin: 30px;
    font-weight: 200;
}