@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Grandstander:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat', serif;
}

body {
    color: #fff;
}

.main {
    min-height: 100vh;
    background: url(/assets/images/Christmas_meal_main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.game-area {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-content {
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.game-content h1 {
    font-size: 80px;
    font-weight: 500;
}
