@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Grandstander:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat', serif;
}

body {
    color: #fff;
}

.main {
    min-height: 100vh;
    background-image: url(../assets/images/Christmas_meal_main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main.active {
    filter: blur(13px);
}

.game-area {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-content {
    max-width: 900px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.game-content h1 {
    font-size: 130px;
    font-weight: 500;
}

.game-content p {
    font-size: 40px;
    text-align: center;
    margin-bottom: 45px;
}

.game-content .start-button {
    height: 55px;
    width: 190px;
    background: #CC2936;
    border: 4px;
    border-radius: 10px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;

}

.game-content .start-button:hover {
    background: #6B818C;
}

.rules-display {
    position: absolute;
    top: 15%;
    left: 30%;
    border-radius: 10px;
    width: 975px;
    background: #CC2936;
    padding: 10px 25px;
    opacity: 0;
    pointer-events: none;
}

.rules-display h2 {
    font-size: 70px;
    text-align: center;
}

.rules-display.active {
    opacity: 1;
    pointer-events: auto;
}

.rules-display .rules {
    display: inline-block;
    align-items: center;
    font-size: 45px;
    margin-bottom: 35px;
}

.rules-display .rules-buttons {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin: 30px;
}

.rules-display .rules-buttons .quit-button {
    height: 55px;
    width: 190px;
    text-align: center;
    background: #08415C;
    border: 4px;
    border-radius: 10px;
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.rules-display .rules-buttons .quit-button:hover {
    background: #6B818C;
    color: #000;
}

.rules-display .rules-buttons .continue-button {
    height: 55px;
    width: 190px;
    text-align: center;
    background: #08415C;
    border: 4px;
    border-radius: 10px;
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.rules-display .rules-buttons .continue-button:hover {
    background: #6B818C;
    color: #000;
}

.question-display {
    position: absolute;
    top: 15%;
    left: 30%;
    border-radius: 10px;
    width: 975px;
    background: #CC2936;
    padding: 10px 25px;
    opacity: 0;
    pointer-events: none;
}

.question-display h3 {
    font-size: 70px;
    text-align: center;
}

.question-display .question-area .question {
    display: inline-block;
    align-items: center;
    font-size: 45px;
    margin-bottom: 35px;
    font-weight: 200;
}

.question-display.active {
    opacity: 1;
    pointer-events: auto;
}

.question-display .multiple-choice-area {
    display: flex;
    align-items: center;
    font-size: 45px;
    margin-bottom: 35px;
}

.question-display .multiple-choice-area .answer-option {
    display: flex;
    align-items: center;
    font-size: 35px;
    margin: 50px;
    padding: 20px;
    border: 4px;
    border-radius: 10px;
    cursor: pointer;
}

.question-display .question-area .question {
    display: inline-block;
    align-items: center;
    font-size: 45px;
    margin-bottom: 35px;
    font-weight: 200;
}

.question-display .player-score h3 {
    align-items: center;
    font-size: 45px;
    margin-bottom: 35px;
    font-weight: 200;
}

.question-display .question-buttons {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin: 30px;
}

.question-display .question-buttons .question-quit-button {
    height: 55px;
    width: 190px;
    text-align: center;
    background: #08415C;
    border: 4px;
    border-radius: 10px;
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.question-display .question-buttons .question-quit-button:hover {
    background: #6B818C;
    color: #000;
}

.question-display .question-buttons .next-button {
    height: 55px;
    width: 190px;
    text-align: center;
    background: #08415C;
    border: 4px;
    border-radius: 10px;
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.question-display .question-buttons .next-button:hover {
    background: #6B818C;
    color: #000;
}

.results-display {
    position: absolute;
    top: 15%;
    left: 30%;
    border-radius: 10px;
    width: 975px;
    background: #CC2936;
    padding: 10px 25px;
    opacity: 0;
    pointer-events: none;
}

.results-display h3 {
    font-size: 70px;
    text-align: center;
}

.results-display.active {
    opacity: 1;
    pointer-events: auto;
}

.results-display .final-user-score-message {
    display: inline-block;
    align-items: center;
    font-size: 45px;
    margin-bottom: 35px;
}

.results-display .finished-buttons {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin: 30px;
}

.results-display .finished-buttons .exit-button {
    height: 55px;
    width: 190px;
    text-align: center;
    background: #08415C;
    border: 4px;
    border-radius: 10px;
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.results-display .finished-buttons .exit-button:hover {
    background: #6B818C;
    color: #000;
}

.results-display .finished-buttons .try-again-button {
    height: 55px;
    width: 190px;
    text-align: center;
    background: #08415C;
    border: 4px;
    border-radius: 10px;
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.results-display .finished-buttons .try-again-button:hover {
    background: #6B818C;
    color: #000;
}